<div class="container">
  <div class="row mb-4">
    <div class="col-md-2  text-center bg-light text-dark">
      <h3>
        マイページ
      </h3>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col col-md-2">
      <h4>
        <strong>登録情報</strong>
      </h4>
    </div>
    <div class="col col-md-5">
      <%= link_to "編集する", customers_my_page_edit_path, class: "btn btn-success" %>
    </div>
  </div>

  <div class="row mb-4">
    <table class="table table-bordered col col-md-8">
      <tbody>
        <tr>
          <td class="bg-light text-bg-light">氏名</td>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>

        <tr>
          <td class="bg-light text-bg-light">カナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>

        <tr>
          <td class="bg-light text-bg-light">郵便番号</td>
          <td><%= @customer.postal_code %></td>
        </tr>

        <tr>
          <td class="bg-light text-bg-light">住所</td>
          <td><%= @customer.address %></td>
        </tr>

        <tr>
          <td class="bg-light text-bg-light">電話番号</td>
          <td><%= @customer.telephone_number %></td>
        </tr>

        <tr>
          <td class="bg-light text-bg-light">メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
  </div>


  <div class="row mb-4">
    <div class="col col-md-2">
      <h4>
        <strong>配送先</strong>
      </h4>
    </div>
    <div class="col col-md-5">
      <%= link_to "一覧を見る", shipping_address_index_path, class: "btn btn-primary" %>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col col-md-2">
      <h4>
        <strong>注文履歴</strong>
      </h4>
    </div>
    <div class="col col-md-5">
      <%= link_to "一覧を見る", orders_path, class: "btn btn-primary" %>
    </div>
  </div>


  </div>
</div>