<div class="container">
  <div class="row mb-4">
    <div class="col-md-3  text-center bg-light text-dark">
      <h3>注文履歴詳細</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <strong>注文情報</strong>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">注文日</td>
            <td><%= @order.created_at.strftime('%y/%m/%d') %></td>
          </tr>
          <tr>
            <td class="bg-light">配送先</td>
            <td>
              〒<%= @order.postal_code %><br>
              <%= @order.address %><br>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td class="bg-light">支払方法</td>
            <td><%= @order.payment_i18n %></td>
          </tr>
          <tr>
            <td class="bg-light">ステータス</td>
            <td><%= @order.status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <strong>請求情報</strong>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="bg-light">商品合計</td>
            <td><%= (@order.total_price - @order.postage).to_s(:delimited) %></td>
          </tr>
          <tr>
            <td class="bg-light">配送料</td>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <td class="bg-light">ご請求金額</td>
            <td><%= @order.total_price.to_s(:delimited) %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-8" >
      <strong>注文内容</strong>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="bg-light">商品</th>
            <th class="bg-light">単価(税込)</th>
            <th class="bg-light">個数</th>
            <th class="bg-light">小計</th>
          </tr>
        </thead>
        <tbody>
          <%  @order.order_products.each do |order_product| %>
          <tr>
            <td><%= order_product.item.name %></td>
            <td><%= order_product.tax_price.to_s(:delimited) %></td>
            <td><%= order_product.product_quantity %></td>
            <td><%= order_product.subtotal.to_s(:delimited) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>