<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light border border-bottom-dark">
          <div class="row">
            <div class="col-md-4 text-center">
              <a class="navbar-brand" href="/"><%= image_tag 'logo.png', size: '150x150' %></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse col-md-8" id="navbarNavDropdown">
              <div class="col-md-3">
                <% if customer_signed_in? %>
                  <p>ようこそ<%= current_customer.last_name %><%= current_customer.first_name %>さん</p>
                <% end %>
              </div>
              <div class="col-md-9">
              <ul class="navbar-nav ml-auto justify-content-end">
              <!--会員がログインしている場合-->
              <% if customer_signed_in? %>


                <li>
                  <%= link_to customers_my_page_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-user"></i>マイページ
                  <%end %>
                </li>
                <li>
                  <%= link_to items_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-birthday-cake"></i>商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to cart_items_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-shopping-cart"></i>カート
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <i class="fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>


              <!--管理者がログインしている場合-->
              <% elsif  admin_signed_in? %>
                <li>
                  <%= link_to admin_items_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-birthday-cake"></i>商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_customers_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-users"></i>会員一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_path, class: 'nav-link text-dark' do %>
                <i class="fas fa-list"></i>注文履歴一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to admin_genres_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-ellipsis-v"></i>ジャンル一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <i class="fas fa-sign-out-alt"></i>ログアウト
                  <% end %>
                </li>
              <!--ログインしていない場合-->
              <% else %>
                <li>
                  <%= link_to about_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-link"></i>About
                  <% end %>
                </li>
                <li>
                  <%= link_to items_path, class: 'nav-link text-dark' do %>
                  <i class="fas fa-birthday-cake"></i>商品一覧
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_registration_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-user-plus"></i>新規登録
                  <% end %>
                </li>
                <li>
                  <%= link_to new_customer_session_path, class: 'nav-link text-dark' do %>
                    <i class="fas fa-sign-in-alt"></i>ログイン
                  <% end %>
                </li>
              <% end %>
              </ul>
              <div class="row justify-content-end">
                    <div class="search-form">
                      <%= form_with url: search_path, method: :get, local: true do |f| %>
                      <%= f.text_field :keyword, value: @keyword %>
                      <%= f.submit "検索" %>
                      <% end %>
                    </div>
                  </div>
              </div>
              </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer class="border-top">
      <div class="container">
        <div class="row　no-gutters"></div>
          <div class="mx-auto my-3">
            <div class="small text-center textmuted">
              @nagano-cake 2023
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
